fastapi==0.115.0
uvicorn==0.30.6
pandas==2.2.3
numpy==2.1.3
xgboost==2.1.1
scikit-learn==1.5.2
supabase==2.3.6
gotrue==2.4.4
postgrest==0.15.1
storage3==0.7.7
supafunc==0.3.3
realtime==1.0.6
httpx==0.25.2
google-generativeai==0.8.3
google-api-core==2.33.0
protobuf==5.29.6
proto-plus==1.28.2
googleapis-common-protos==1.75.0
grpcio-status==1.71.2
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
holidays==0.57
openmeteo-requests==1.3.0
requests-cache==1.2.1
retry-requests==2.0.0
